@import url("/css/template.css");

#head-top{
    width: 10px;
    height: 20px;  
    margin-top: 20px;
  
}

.head-top2{
    padding-top: 10px;
  
}

#retangulo{
    width: 975px;
    background-color: #5aa02cff;
    height: 410px;
    border:  10px solid #488123ff;
    top: 38px;
    margin: auto; 
    z-index: 2;}

h1{ 
    text-align: center;
    margin-top: 5px;
    color:white;
}

.categorias {
    margin-left: 20px;
    text-align: justify;
    line-height: 40px;
    color: white;
    font-size: 25px;
}

.categorias input[type=text] {
    margin-left: 20px;
    height: 40px;
    width: 830px;
}

.categorias input[type=password] {
    margin-left: 20px;
    height: 40px;
    width: 830px;
}

.categorias input[type=date] {
    margin-left: 20px;
    height: 40px;
    width: 665px;
}

.categorias select[name ="genero"] {
    margin-left: 20px;
    height: 40px;
    width: 820px;
}

.botao {
    text-align: left;
    font-size: 25px;
}