@import url("/css/template.css");

#content {
    width: 100%;
    height: 700px;
}

#rettop {
    width: 50%;
    height: 80px;
    margin: 0 auto;
    padding-top: 50px;  
}

#retescolha {
    width: 700px;
    height: 190px;
    background-color: #5aa02cff;
    margin: 0 auto;
    border: solid #488123ff;
    padding-top: 50px;
    position: relative;
}

#coluna1 {
    height: 10px;
    width: 40px;
    margin-left: 10px;
    margin-top: -235px;
    position: absolute;
}

.escolhido {
  border-radius: 4px;
  height: 160px;
  padding: 4%;
  background-color: white;
  width: 260px;
  object-fit: scale-down;
}

.Fixo{
    text-decoration: underline;
    color: white;
    text-align: center;
    font-family: Yu Gothic;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    z-index: 5;
    margin-top: -280px;
    margin-left: 400px;
}

.Universidades {
    margin-top: -20px;
    margin-left: 280px;
    color: white;
    text-align: justify;
    font-family: Yu Gothic;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.0;
    text-shadow: 10px;
    position: absolute;
}

#retmenu {
    width: 653px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

.menu1 {
    z-index: 1;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ret2{
    height: 88px;
}
.menu {
    z-index: 2;
    position: absolute;
    right: 0;
    left: 0;
    margin-left:20px;
    margin-top: 10px;
    margin-top: inherit;
}




.textomenu {
    margin-top: -250px;
    margin-left: 55px;
    position: absolute;
    z-index: 3;
    color: black;
    text-align: center;
    font-family: Yu Gothic;
    font-size: 20px;
    font-weight: bold;
}

.textoprova {
    margin-top: 10px;
    margin-left: 200px;
    line-height: 0.6;
    position: absolute;
    z-index: 3;
    color: #5aa02cff;
    text-align: center;
    font-family: Yu Gothic;
    font-size: 20px;
    font-weight: bold;
}

.textogabarito {
    margin-top: 10px;
    margin-left: 400px;
    line-height: 0.6;
    position: absolute;
    z-index: 3;
    color: #5aa02cff;
    text-align: center;
    font-family: Yu Gothic;
    font-size: 20px;
    font-weight: bold;
}


.textomenu2 {
    margin-top: -150px;
    margin-left: 55px;
    position: absolute;
    z-index: 3;
    color: black;
    text-align: center;
    font-family: Yu Gothic;
    font-size: 20px;
    font-weight: bold;
}

.textoprova2 {
    margin-top: 95px;
    margin-left: 200px;
    line-height: 0.6;
    position: absolute;
    z-index: 3;
    color: #5aa02cff;
    text-align: center;
    font-family: Yu Gothic;
    font-size: 20px;
    font-weight: bold;
}

.textogabarito2 {
    margin-top: 95px;
    margin-left: 400px;
    line-height: 0.6;
    position: absolute;
    z-index: 3;
    color: #5aa02cff;
    text-align: center;
    font-family: Yu Gothic;
    font-size: 20px;
    font-weight: bold;
}
