@import url("/css/template.css");
#content {
    width: 100%;
    height: auto;
}

#content img {
    margin-top: -215px;
}

#retangulo {
    position: relative;
    width: 100%;
    height: 130px;
    border-top: 5px solid #488123ff;
    border-bottom: 5px solid #488123ff;
    text-align: center;
}

h1 {
    font-size: 80px;
    color: #5aa02cff
}

h2 {
    font-family: YU Gothic;
    font-size: 80px;
    color: #5aa02cff
}

h3 {
    font-family: YU Gothic;
    font-size: 80px;
    color: #5aa02cff
}

h4 {
    font-family: YU Gothic;
    font-size: 80px;
    color: #5aa02cff
}

h5 {
    font-family: YU Gothic;
    font-size: 80px;
    color: #5aa02cff
}

#quadrado1 {
    width: 350px;
    height: 350px;
    background-color: #d6e6cbff;
    border: solid #488123ff;
    display: inline-block;
}

#quadrado2 {
    width: 350px;
    height: 350px;
    background-color: #d6e6cbff;
    border: solid #488123ff;
    display: inline-block;
}

#quadrado3 {
    width: 350px;
    height: 350px;
    background-color: #d6e6cbff;
    border: solid #488123ff;
    display: inline-block;
}

#quadrado4 {
    width: 350px;
    height: 350px;
    background-color: #d6e6cbff;
    border: solid #488123ff;
    display: inline-block;
}
