@import url("/css/template.css");

#content {
    width: 100%;
    height: auto;
}

#espaco {
    margin-top: 10px;
}

.column {
    float: left;
    height: 70px;
    width: 50%;
  }

#head-top{
    width: 10px;
    height: 20px;  
    margin-top: 20px;
  
}

.head-top2{
    padding-top: 10px;
  
}

#retangulo{
    line-height: 43px;
    width: 975px;
    background-color: #5aa02cff;
    height: 310px;
    border:  10px solid #488123ff;
    top: 38px;
    margin: auto; 
    z-index: 1;

}

.img img{
    border:  5px solid  #d6e6cbff;
    margin-top: -305px;
    margin-bottom: 20px;
    margin-left: -500px;
    
}

.univer{
    text-align: center;
    margin-left: 430px;
    margin-top: 20px;
    font-size: 30px;
    font-family: Arial;
    color: white;
}

input[type=checkbox].css-checkbox{ display: none; }

.css-label{
    margin-left: 1152px;
    margin-top:-131px;
    display: flex;
    opacity: 50%;
    height:131px;
    position: initial;
    background-image: url(/img/estrelinha.png);
    background-repeat: no-repeat;
    background-size: contain;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 0;
    background-image: url(/img/estrelinha.png);
    opacity: 100%;
}

a{
font-style: bold;
color:#3b691dff;
}
